selenium==4.15.2
webdriver-manager==4.0.1
google-search-results==2.4.2
beautifulsoup4==4.12.2
requests==2.31.0
python-dateutil==2.8.2
lxml==4.9.3
urllib3==2.0.7
certifi==2023.7.22
charset-normalizer==3.3.2
idna==3.4
soupsieve==2.5
tqdm==4.66.1
packaging==23.2
jsonschema==4.19.1
colorama==0.4.6